.page-add-todo {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.add-todo {
  padding: 40px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo-input {
  display: block;
  font-size: 50rpx;
  font-weight: 100;
  padding: 5px 5px;
  background: none;
  border:none;
  border-bottom: 1px solid #DFDFDF;
  color: #0EFFD6;
  width: 100%;
}



.todo-footer {
  padding: 20rpx 0 100rpx;
  font-size: 48rpx;
  font-weight: 200;
  text-align: center;
}

/* first-card */
.myPic {
  display: flex;
  flex-wrap: wrap;
  color: #999999;
  font-size: .75rem;
  text-align: center;
  margin: 24px 0px;
}
.myPic .flex-width-3 {
  flex: 0 0 33.3%;
}
.myPic .flex-width-4 {
  flex: 0 0 25%;
}
.myPic-image {
  width: 88px;
  height: 88px;
}
.myCard {
  font-size: 0.875rem;
  margin-bottom: 18px;
}
.myCard > view:first-child {
  font-weight: bold;
  color: #000000;
}
.special-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  height: 70px;
  background-color: rgba(122, 197, 205, 0.1);
  color: #3681d6;
  font-size: .75rem;
  padding: 6px 12px;
  margin-bottom: 12px;
}
.special-bottom image {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.special-bottom-middle {
  flex: auto;
}
.special-bottom > view:last-child {
  flex: 0 0 100px;
  border: 1px solid #3681d6;
  border-radius: 25px;
  text-align: center;
  padding: 4px;
}
.top-yellow-background {
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #ffe60f;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  z-index: -1;
}